{% extends 'base.html' %}
{% load static %}

{% block body %}
    

{% include 'components/sidebar-mobile.html' %}

<div class="hp-main-layout-content">
    <div class="row mb-32 g-32">
        <div class="col flex-grow-1 overflow-hidden">
            <div class="row g-32">
                <div class="col-12">
                    <h1 class="hp-mb-0">Client Dashboard</h1>
                </div>

                <div class="col-12">
                    <div class="row g-32">
                        <div class="col-md-4 col-6">
                            <div class="card hp-dashboard-feature-card hp-border-color-black-0 hp-border-color-dark-80 hp-cursor-pointer">
                                <div class="card-body">
                                    

                                    <div class="d-flex mt-12">
                                        <span class="h4 mb-0 d-block hp-text-color-black-bg hp-text-color-dark-0 fw-medium me-4"> Income </span>
                                        <div>
                                            <svg class="hp-text-color-success-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none">
                                                <path fill="currentColor" d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81v8.37C2 19.83 4.17 22 7.81 22h8.37c3.64 0 5.81-2.17 5.81-5.81V7.81C22 4.17 19.83 2 16.19 2zm1.06 10.33c0 .41-.34.75-.75.75s-.75-.34-.75-.75V9.31l-7.72 7.72c-.15.15-.34.22-.53.22s-.38-.07-.53-.22a.754.754 0 010-1.06l7.72-7.72h-3.02c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.83c.41 0 .75.34.75.75v4.83z"></path>
                                            </svg>
                                        </div>
                                    </div>

                                    <span class="hp-caption mt-4 d-block fw-normal hp-text-color-black-60"> April 2022 </span>
                                    <span class="d-block mt-12 mb-8 h3"> $13,908 </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-6">
                            <div class="card hp-dashboard-feature-card hp-border-color-black-0 hp-border-color-dark-80 hp-cursor-pointer">
                                <div class="card-body">
                                    

                                    <div class="d-flex mt-12">
                                        <span class="h4 mb-0 d-block hp-text-color-black-bg hp-text-color-dark-0 fw-medium me-4"> Expenses </span>
                                        <div>
                                            <svg class="hp-text-color-danger-1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none">
                                                <path fill="currentColor" d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81v8.37C2 19.83 4.17 22 7.81 22h8.37c3.64 0 5.81-2.17 5.81-5.81V7.81C22 4.17 19.83 2 16.19 2zm1.34 5.53l-7.72 7.72h3.02c.41 0 .75.34.75.75s-.34.75-.75.75H8c-.41 0-.75-.34-.75-.75v-4.83c0-.41.34-.75.75-.75s.75.34.75.75v3.02l7.72-7.72c.15-.15.34-.22.53-.22s.38.07.53.22c.29.29.29.77 0 1.06z"></path>
                                            </svg>
                                        </div>
                                    </div>

                                    <span class="hp-caption mt-4 d-block fw-normal hp-text-color-black-60"> April 2022 </span>
                                    <span class="d-block mt-12 mb-8 h3"> $7,949 </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-6">
                            <div class="card hp-dashboard-feature-card hp-border-color-black-0 hp-border-color-dark-80 hp-cursor-pointer">
                                <div class="card-body">
                                    

                                    <div class="d-flex mt-12">
                                        <span class="h4 mb-0 d-block hp-text-color-black-bg hp-text-color-dark-0 fw-medium me-4"> Balance </span>
                                        <div></div>
                                    </div>

                                    <span class="hp-caption mt-4 d-block fw-normal hp-text-color-black-60"> April 2022 </span>
                                    <span class="d-block mt-12 mb-8 h3"> $5,129 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="mb-18 col-12">
                            <div class="row align-items-center justify-content-between">
                                <div class="hp-flex-none w-auto col">
                                    <span class="d-block hp-p1-body">Balance</span>
                                    <span class="d-block mt-4 h3 fw-semibold hp-text-color-black-bg hp-text-color-dark-0"> $12.389 </span>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="hp-p1-body d-block">Past 30 Days</span>
                                </div>
                            </div>
                        </div>

                        <div class="overflow-hidden col-12 mb-n24">
                            <div id="dashboard-analytics-balance-chart" class="overflow-hidden"></div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-sm-6 col-12">
                            <span class="h3 fw-semibold hp-text-color-black-bg hp-text-color-dark-0 d-block mb-0"> History </span>
                            <p class="hp-p1-body mt-4 mb-0">Transection of last 6 months</p>
                        </div>

                        <div class="col"></div>
                    </div>

                    <div class="row mt-24 mx-0">
                        <div class="hp-bg-black-0 hp-bg-dark-100 border hp-border-color-black-10 hp-border-color-dark-80 p-12 mb-16 col-12 rounded-5">
                            <div class="row align-items-center justify-content-between">
                                <div class="mb-16 mb-sm-0 col-sm-6 col-12">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="hp-cursor-pointer border hp-border-color-dark-80 me-16" style="border-radius: 15px;">
                                                <div class="overflow-hidden m-4 d-flex hp-bg-danger-4" style="min-width: 64px; width: 64px; height: 64px; border-radius: 15px;">
                                                    <img src="{% static 'app-assets/img/memoji/user-avatar-5.png' %}" alt="User" height="100%">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block h4 mb-0">Edward Adams</span>
                                            <span class="d-block hp-p1-body mt-4">Product Designer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-sm-end text-start col-sm-3 col-6" style="min-height: 50px;">
                                    <span class="d-block h4 fw-normal mb-0"> $ 7734.32 </span>
                                    <span class="d-block hp-p1-body mt-4">30432</span>
                                </div>

                                <div class="text-end col-sm-3 col-6" style="min-height: 50px;">
                                    <span class="h4">23.23%</span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-bg-black-0 hp-bg-dark-100 border hp-border-color-black-10 hp-border-color-dark-80 p-12 mb-16 col-12 rounded-5">
                            <div class="row align-items-center justify-content-between">
                                <div class="mb-16 mb-sm-0 col-sm-6 col-12">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="hp-cursor-pointer border hp-border-color-dark-80 me-16" style="border-radius: 15px;">
                                                <div class="overflow-hidden m-4 d-flex hp-bg-info-4" style="min-width: 64px; width: 64px; height: 64px; border-radius: 15px;">
                                                    <img src="{% static 'app-assets/img/memoji/user-avatar-6.png' %}" alt="User" height="100%">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block h4 mb-0">John Doe</span>
                                            <span class="d-block hp-p1-body mt-4">Product Designer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-sm-end text-start col-sm-3 col-6" style="min-height: 50px;">
                                    <span class="d-block h4 fw-normal mb-0"> $ 7614.43 </span>
                                    <span class="d-block hp-p1-body mt-4">949</span>
                                </div>

                                <div class="text-end col-sm-3 col-6" style="min-height: 50px;">
                                    <span class="h4">19.03%</span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-bg-black-0 hp-bg-dark-100 border hp-border-color-black-10 hp-border-color-dark-80 p-12 mb-16 col-12 rounded-5">
                            <div class="row align-items-center justify-content-between">
                                <div class="mb-16 mb-sm-0 col-sm-6 col-12">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="hp-cursor-pointer border hp-border-color-dark-80 me-16" style="border-radius: 15px;">
                                                <div class="overflow-hidden m-4 d-flex hp-bg-warning-4" style="min-width: 64px; width: 64px; height: 64px; border-radius: 15px;">
                                                    <img src="{% static 'app-assets/img/memoji/user-avatar-7.png' %}" alt="User" height="100%">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block h4 mb-0">Fazıl Say</span>
                                            <span class="d-block hp-p1-body mt-4">Product Designer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-sm-end text-start col-sm-3 col-6" style="min-height: 50px;">
                                    <span class="d-block h4 fw-normal mb-0"> $ 6789.19 </span>
                                    <span class="d-block hp-p1-body mt-4">732</span>
                                </div>

                                <div class="text-end col-sm-3 col-6" style="min-height: 50px;">
                                    <span class="h4">13.98%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hp-flex-none w-auto hp-dashboard-line px-0 col">
            <div class="hp-bg-black-40 hp-bg-dark-80 h-100 mx-24" style="width: 1px;"></div>
        </div>

        <div class="col hp-analytics-col-2">
            <div class="row g-32">
                

                <div class="col-12">
                    <span class="h3 d-block fw-semibold hp-text-color-black-bg hp-text-color-dark-0 mb-0"> Recent Activities </span>
                    <span class="hp-p1-body d-block mt-4">05 Dec 2021</span>

                    <div class="row mt-24">
                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/zendesk-logo.svg' %}" alt="Zendesk">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Zendesk </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 05 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 500.00 </span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/sales-force-logo.svg' %}" alt="Sales Force">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Sales Force </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 24 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 337.00 </span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/apple-logo.svg' %}" alt="Apple">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Apple </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 29 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 320.67 </span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/google-logo.svg' %}" alt="Google Inc">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Google Inc </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 29 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 127.00 </span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/virgin-logo.svg' %}" alt="Virgin Media">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Virgin Media </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 29 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 28.00 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <span class="h3 d-block fw-semibold hp-text-color-black-bg hp-text-color-dark-0 mb-0"> Upcoming Payments </span>
                    <span class="hp-p1-body d-block mt-4">05 Dec 2021</span>

                    <div class="row mt-24">
                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/zendesk-logo.svg' %}" alt="Zendesk">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Zendesk </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 05 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 500.00 </span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/sales-force-logo.svg' %}" alt="Sales Force">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Sales Force </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 24 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 337.00 </span>
                                </div>
                            </div>
                        </div>

                        <div class="hp-cursor-pointer hp-transition hp-hover-bg-dark-100 hp-hover-bg-black-10 rounded py-8 mb-16 col-12">
                            <div class="row align-items-end justify-content-between">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="hp-flex-none w-auto pe-0 col">
                                            <div class="me-16 border hp-border-color-black-10 hp-bg-black-0 rounded-3 d-flex align-items-center justify-content-center" style="min-width: 48px; height: 48px;">
                                                <img src="{% static 'app-assets/img/dashboard/virgin-logo.svg' %}" alt="Virgin Media">
                                            </div>
                                        </div>

                                        <div class="hp-flex-none w-auto ps-0 col">
                                            <span class="d-block hp-p1-body fw-medium hp-text-color-black-bg hp-text-color-dark-0"> Virgin Media </span>
                                            <span class="d-block hp-caption fw-normal hp-text-color-black-60"> 29 Dec 2021 </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="hp-flex-none w-auto col">
                                    <span class="h5 hp-text-color-black-bg hp-text-color-dark-0"> $ 28.00 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
    