<!DOCTYPE html>
{% load static %}
<html dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="Hypeople">
    <meta name="description" content="Responsive, Highly Customizable Dashboard Template" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app-assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app-assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app-assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app-assets/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app-assets/favicon/safari-pinned-tab.svg' %}" color="#0010f7">
    <meta name="msapplication-TileColor" content="#0010f7">
    <meta name="theme-color" content="#ffffff">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugin/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/icons/iconly/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/icons/remix-icon/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}">

    <!-- Base -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/base/typography.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/base/base.css' %}">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/theme/colors-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/theme/theme-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom-rtl.css' %}">

    <!-- Layouts -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/sider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/page-content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}">

    <!-- Charts -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugin/apex-charts.css' %}">

    <!-- Pages -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/dashboard-analytics.css' %}">

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    <title>EcoVille :: {% block title %}{% endblock title %}</title>
</head>

<body>
    <main class="hp-bg-color-dark-90 d-flex min-vh-100">
        
        {% include 'components/sidebar.html' %}

        <div class="hp-main-layout">
            <header>
                <div class="row w-100 m-0">
                    <div class="col px-0">
                        <div class="row w-100 align-items-center justify-content-between position-relative">
                            <div class="col w-auto hp-flex-none hp-mobile-sidebar-button me-24 px-0" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
                                <button type="button" class="btn btn-text btn-icon-only">
                                    <i class="ri-menu-fill hp-text-color-black-80 hp-text-color-dark-30 lh-1" style="font-size: 24px;"></i>
                                </button>
                            </div>

                            <div class="hp-header-text-info col col-lg-14 col-xl-16 hp-header-start-text d-flex align-items-center hp-horizontal-none">
                                <div class="d-flex overflow-hidden rounded-4 hp-bg-color-black-0 hp-bg-color-dark-100" style="min-width: 45px; width: 45px; height: 45px;">
                                    <img src="{% static 'app-assets/img/memoji/newspaper.svg' %}" alt="Newspaper" height="80%" style="margin-top: auto; margin-left: auto;">
                                </div>

                                <p class="hp-header-start-text-item hp-input-label fw-normal hp-text-color-black-100 hp-text-color-dark-0 ms-12 mb-0 lh-1 d-flex align-items-center">
                                    Do you know the latest update of 2022?&nbsp;&nbsp;
                                    <span class="hp-text-color-primary-1">Our roadmap is alive for future updates.</span>
                                </p>
                            </div>

                            

                            <div class="hp-header-search d-none col">
                                <input type="text" class="form-control" placeholder="Search..." id="header-search" autocomplete="off">
                            </div>

                            <div class="col hp-flex-none w-auto pe-0">
                                <div class="row align-items-center justify-content-end">
                                    <div class="w-auto px-0">
                                        <div class="d-flex align-items-center me-4 hp-header-search-button">
                                            <button type="button" class="btn btn-icon-only bg-transparent border-0 hp-hover-bg-black-10 hp-hover-bg-dark-100 hp-transition d-flex align-items-center justify-content-center" style="height: 40px;">
                                                <svg class="hp-header-search-button-icon-1 hp-text-color-black-80 hp-text-color-dark-30" set="curved" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M11.5 21a9.5 9.5 0 1 0 0-19 9.5 9.5 0 0 0 0 19ZM22 22l-2-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                                <i class="d-none hp-header-search-button-icon-2 ri-close-line hp-text-color-black-60" style="font-size: 24px;"></i>
                                            </button>
                                        </div>
                                    </div>

                                    

                                    

                                    <div class="hover-dropdown-fade w-auto px-0 ms-6 position-relative">
                                        <div class="hp-cursor-pointer rounded-4 border hp-border-color-dark-80">
                                            <div class="rounded-3 overflow-hidden m-4 d-flex">
                                                <div class="avatar-item hp-bg-info-4 d-flex" style="width: 32px; height: 32px;">
                                                    <img src="{% static 'app-assets/img/memoji/user-avatar-4.png' %}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hp-header-profile-menu dropdown-fade position-absolute pt-18" style="top: 100%; width: 260px;">
                                            <div class="rounded hp-bg-black-0 hp-bg-dark-100 px-18 py-24">
                                                <span class="d-block h5 hp-text-color-black-100 hp-text-color-dark-0 mb-16">Profile Settings</span>

                                                <a href="profile-information.html" class="hp-p1-body fw-medium hp-hover-text-color-primary-2">View Profile</a>

                                                <div class="divider mt-18 mb-16"></div>

                                                

                                              

                                                <div class="divider mt-12 mb-18"></div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <a class="hp-p1-body fw-medium" href="profile-information.html">Account Settings</a>
                                                    </div>

                                                    <div class="col-12 mt-24">
                                                        <a class="hp-p1-body fw-medium" href="{% url 'accounts:logout' %}">Logout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


            
            {% block body %}
                
            {% endblock body %}
            


            <footer class="w-100 py-18 px-16 py-sm-24 px-sm-32 hp-bg-color-black-20 hp-bg-color-dark-90">
                <div class="row">
                    <div class="col-12">
                        <p class="hp-badge-text fw-semibold mb-0 text-center text-sm-start hp-text-color-dark-30">COPYRIGHT ©2021 Hypeople, All rights Reserved</p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <div class="scroll-to-top">
        <button type="button" class="btn btn-primary btn-icon-only rounded-circle hp-primary-shadow">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="16px" width="16px" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z"></path>
                </g>
            </svg>
        </button>
    </div>

    <!-- Plugin -->
    <script src="{% static 'app-assets/js/plugin/jquery.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/jquery.mask.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/autocomplete.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/moment.min.js' %}"></script>

    <!-- Layouts -->
    <script src="{% static 'app-assets/js/layouts/header-search.js' %}"></script>
    <script src="{% static 'app-assets/js/layouts/sider.js' %}"></script>
    <script src="{% static 'app-assets/js/components/input-number.js' %}"></script>

    <!-- Base -->
    <script src="{% static 'app-assets/js/base/index.js' %}"></script>

    <!-- Charts -->
    <script src="{% static 'app-assets/js/plugin/apexcharts.min.js' %}"></script>
    <script src="{% static 'app-assets/js/charts/apex-chart.js' %}"></script>

    <!-- Cards -->
    <script src="{% static 'app-assets/js/cards/card-analytic.js' %}"></script>
    <script src="{% static 'app-assets/js/cards/card-advance.js' %}"></script>
    <script src="{% static 'app-assets/js/cards/card-statistic.js' %}"></script>

    <!-- Custom -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>