<!DOCTYPE html>
{% load static %}
<html dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="author" content="Hypeople">
    <meta name="description" content="Responsive, Highly Customizable Dashboard Template" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app-assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app-assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app-assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app-assets/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'app-assets/favicon/safari-pinned-tab.svg' %}" color="#0010f7">
    <meta name="msapplication-TileColor" content="#0010f7">
    <meta name="theme-color" content="#ffffff">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugin/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/icons/iconly/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/icons/remix-icon/index.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}">

    <!-- Base -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/base/typography.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/base/base.css' %}">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/theme/colors-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/theme/theme-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/custom-rtl.css' %}">

    <!-- Layouts -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/sider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/layouts/page-content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}">

    <!-- Pages -->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/authentication.css' %}">

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    <title>Register - Yoda Admin Html Template</title>
</head>


<body>

    
    {% block body %}
        
    {% endblock body %}
        



    <!-- Plugin -->
    <script src="{% static 'app-assets/js/plugin/jquery.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/jquery.mask.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/autocomplete.min.js' %}"></script>
    <script src="{% static 'app-assets/js/plugin/moment.min.js' %}"></script>

    <!-- Layouts -->
    <script src="{% static 'app-assets/js/layouts/header-search.js' %}"></script>
    <script src="{% static 'app-assets/js/layouts/sider.js' %}"></script>
    <script src="{% static 'app-assets/js/components/input-number.js' %}"></script>

    <!-- Base -->
    <script src="{% static 'app-assets/js/base/index.js' %}"></script>

    <!-- Custom -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>




